



#sobre, 
#especialidades
#contato {
    padding: 40px 20px 0px;

}


.box-visao-geral, .recep{
   
    
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 500px;

}
.box-visao-geral-titulo .titulo1{
    position: relative;
    bottom: 400px;
    width: 300px;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.19);
    padding: 50px;
   
}
.box-sobre {
    display: flex;

    justify-content: center;
    align-items: center;
}
.box-sobre h3{
    font-weight: bolder;
    text-transform: uppercase;
}
.box-sobre img {
   
 height: 300px;

}
.box-especialidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  
}
.box-especialidades{
   
  
    border-radius: 3px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
    margin: 20px;
    
}
.box-especialidades img {
    width: 100%;
}
.pediatra {
    margin: 17px 0px 0px 0px;
}
.box-especialidades figcaption{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.box-link-horarios {
    text-align: center;
    margin: 20px;
}
.link-horarios{
    background-color: #00cad1;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
}
@media ( max-width: 1024px) {
    .box-visao-geral{
        height: 400px;
    }
}
@media (max-width:  768px ) {
    .box-visao-geral {
        height: 300px;
    }
    .box-sobre img {
        display: none;
     
    }
    .box-especialidades {
        justify-content: center;
    }
    .box-especialidade {
        width: calc(100% / 2 - 40px);
        
    }
}
    @media (max-width: 568px) {
        .box-visao-geral {
            width: 560px;
            height: 560px;
            
            
          
        }
        .box-visao-geral h1 {
            font-size: 20px;

        }
        .box-especialidade  {
            width: 80px;
            justify-content: space-between;

           
        }
        
        
    }
